<% @posts.each do |p| %>
  $boxes = $('<div class="user-post"></div>');
  $('.user-page-main-wrapper').append('<div class="user-post user-post-' + '<%= raw p.id %>' + '"></div>').imagesLoaded(function(){
    $('.user-page-main-wrapper').masonry('reload');
  $('.user-post-' + '<%= raw p.id %>').append('<%= j link_to image_tag(p.image), "#" %>')
  });
<% end %>
<% if @posts.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @posts %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>

