$(document).ready(function(){
  var userList = [];
  var hashtagList = [];

  <% @user_tags.each do |user| %>
    userList.push({id' : <%= raw user.id %>,
      'avatar' : '<%= raw user.avatar %>',
      'username' : '<%= raw user.username %>'
    });
  <% end %>


  $('.comment-textarea').atwho({
    at: '@',
    data: userList,
    startWithSpace: true,
    searchKey: 'username',
    insertTpl: ('<a class="tag-user-item" href="/users/${id}">\@${username}</a>'),
    displayTpl: ('<li><img class='dropdown-avatar'\
     src='assets/${avatar}' style='border-radius: 50%;' />@${username}</li>')
  });

  $(".comment-textarea").keypress(function(e){ return e.which != 13; });

  $(document).on('keyup','.comment-form',function(e){
    if(e.keyCode== 13 || e.which== 13) {
       e.preventDefault();
      var content = $('.comment-textarea').html();
      if (content.length > 0) {
        $(this).find('.comment-hidden-field').val(content);
        $('.comment-form').submit();
      }
    }
  });
});
