<div class="index-container">
  <div id="my-posts">
    <%= render @posts %>
  </div>
</div>
<nav id="page-nav">
  <div class="caption-popup-box">
  <%= render "shared/new_post" %>
</div>

  <%= will_paginate @posts %>
</nav>
<script type="text/javascript">
  <%= render "posts/index.js.erb" %>
</script>

