$(".dim").fadeIn(300);
$(".dim").addClass("dim-single-post");
$('.next-post-wrapper').empty();
$('.prev-post-wrapper').empty();

<% user = @post.user %>
<% next_post =  @posts.where("id < ?", @post.id).first %>
<% if next_post.present? %>
  $('.next-post-wrapper').append('<%= link_to\
    "<span class=\"glyphicon glyphicon-triangle-right\"></span>".html_safe,\
    next_post, remote: true %>')
<% end %>
<% prev_post =  @posts.where("id > ?", @post.id).last %>
<% if prev_post.present? %>
  $('.prev-post-wrapper').append('<%= link_to\
    "<span class=\"glyphicon glyphicon-triangle-left\"></span>".html_safe,\
    prev_post, remote: true %>')
<% end %>

$(".dim-single-post").click(function(){
  $(".single-post-container").empty();
  $('.next-post-wrapper').empty();
  $('.prev-post-wrapper').empty();
  $(".dim").removeClass("dim-single-post");
  $(this).fadeOut(300);
});
$(".single-post-wrapper").fadeIn(300);
$(".single-post-container").empty();
$(".single-post-container").append('<%= j render partial: "posts/single_post",\
  locals: {post: @post} %>')
