$alabaster: #fafafa;
$concrete: #e6e6e6;
$gray78: #b8b8b8;
$white: #fff;
$dovegrey: #666;
$pictonblue: #3897f0;
$silver: #c7c7c7;
$valencia: #d34836;
$black: #000000;
$dustygray: #999999;
$omegranate: #f03d25;
$mercury: #FAFAFA;
$grey-light: #F2F2F2;
$silver-chalice: #9F9F9F;
$alto: #dbdbdb;
$mineshaft: #262626;
$abbey: #e6e6e6;
$gallery: #EFEFEF;
$codgray: #0E0E0E;
$mine-shaft-color: #373737;
