@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors.scss';


/*header*/
.navbar {
  background: $white !important;
  border-bottom: solid 1px $gray78 !important;
  display: flex;
  align-items: center;
  height: 80px;
  .container{
    width: 93%;
    padding: 1% 15% 1% 15%;
    .header-logo-wrapper {
      display: flex;
      align-items: center;
      div {
        width: 1px;
        background: $black;
        height: 40px;
        margin-right: 20px;
      }
    }
    #logo {
      max-width: 40px;
      margin: -5px 25px 0px 0px;
    }
    .search_box{
      text-align: center;
      margin-top: 2%;
      input {
        background: $alabaster;
        border: 1px solid $concrete;
        text-align: center;
        width: 250px;
        padding: 9px 0 7px 8px;
        font-size: 14px;
        border-radius: 3px;
        height: 30px;
        &:focus {
          background: $white;
          border: 2px solid $gray78;
          text-align: left;
          outline: none;
        }
        &::placeholder {
          font-size: 12px;
        }
      }
      div {
        background: $alabaster;
        border: 1px solid $concrete;
        text-align: center;
        width: 250px;
        padding: 0 7px;
        font-size: 14px;
        line-height: 30px;
        border-radius: 3px;
        height: 30px;
        &:focus {
          background: $white;
          border: 2px solid $gray78;
          text-align: left;
          outline: none;
        }
        &::placeholder {
          font-size: 12px;
        }
      }
    }
    .col-xs-4-without-login {
      margin-top: 20px !important;
    }
    nav {
      padding-right: 4%;
      #icon {
        max-width: 27px;
        margin-left: 40px;
        margin-top: 20px;
      }
      div {
        display: inline-block;
      }
      .dropdown-toggle:focus{
        background-color: $white;
      }
      .dropdown-toggle{
        background-color: $white;
      }
      .item_dropdown{
        width: 500px;
        height: 50px;
        display: inline-block;
        .link_img{
          width: 40px;
          height: 40px;
          line-height: 50px;
          .noti_img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        .noti_text{
          padding-left: 20px;
          width: 450px;
          height: 50px;
          line-height: 50px;
          float: left;
          text-decoration: none;
          color: black;
        }
        .noti_text:hover{
          padding-left: 20px;
          width: 450px;
          height: 50px;
          line-height: 50px;
          float: left;
          text-decoration: none;
          color: black;
          background: $concrete;
        }
        .timestamp{
          color: $silver-chalice;
          margin-left: 20px;
        }
        .noti_text_unseen{
          width: 450px;
          height: 50px;
          line-height: 50px;
          float: left;
          background: $grey-light;
          padding-left: 20px;
          text-decoration: none;
          color: black;
        }
        .noti_text_unseen:hover{
          width: 450px;
          height: 50px;
          line-height: 50px;
          float: left;
          background: $concrete;
        }
      }
      .dropdown{
        position: relative;
      }
      .noti_number{
        text-align: center;
        background-color: $omegranate;
        color: $white;
        width: 16px;
        height: 16px;
        position: absolute;
        margin: -7px 0 0 57px;
        border-radius: 5px;
        font-size: 12px;
        margin: 0 0 0 -10px;
        margin-top: 25%;
      }
      .dropdown-menu{
        max-height: 400px;
        margin-top: 30px;
        overflow: scroll;
        .noti_title{
          width: 400px;
          margin-left: 120px;
          text-align: center;
        }
        .dim {
          display: none;
        }
      }
      hr{
        margin: 0;
      }
      .header-login {
        color: $pictonblue;
        font-size: 14px;
        font-weight: 600;
        line-height: 32px;
        height: 32px;
        outline: none;
        text-decoration: none;
        text-align: center;
        -webkit-appearance: none;
        &:focus {
          outline: none;
        }
      }
      .header-signup {
        margin-right: 30px;
        padding: 6px 20px;
        background: $pictonblue;
        color: $white;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 600;
        line-height: 32px;
        height: 32px;
        outline: none;
        text-decoration: none;
        text-align: center;
        -webkit-appearance: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.alert {
  width: 286px;
  margin: auto;
  text-align: center;
  color: $white !important;
  border: none !important;
  position: fixed;
  left: calc(50% - 143px);
  z-index: 10001;
}

.alert-danger {
  background-color: $omegranate !important;
}

.alert-success {
  background-color: $mineshaft !important;
}

body {
  background-color: $alabaster !important;
}

.login-container {
  padding-top: 30px;
  display: flex;
  width: 935px;
  height: 804px;
  margin: auto;
  justify-content: space-between;
}

.login-mockup {
  position: relative;
  img {
    width: 454px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.login-form{
  width: 400px;
  height: 800px;
  display: flex;
  align-items: center;
}

.login-form-wrapper {
  overflow: hidden;
}

.form-container {
  border: 1px solid $concrete;
  background-color: $white;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  h6 {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    font-size: 17px;
    color: $dovegrey;
  }
  p {
    margin: 6px 40px 6px 40px;
    text-align: center
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.logo {
  display: block;
  margin: auto;
  margin-bottom: 12px;
  margin-top: 20px;
}

.input-field {
  margin: 0px 40px 10px 40px;
  width: 300px;
  padding: 9px 0 7px 8px;
  background: $alabaster;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  border: 1px solid $concrete;
  border-radius: 3px;
  height: 36px;
  line-height: 14px;
  &:focus {
    outline: none;
    border: 2px solid $gray78;
  }
  &::placeholder {
    font-size: 12px;
  }
}

.submit-button {
  margin: 20px 40px 6px 40px;
  width: 300px;
  background: $pictonblue;
  border: 1px solid $pictonblue;
  color: $white;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: none;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}

#error_explanation {
  margin: 0px 40px 6px 40px;
  font-size: 12px;
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.strike {
  margin: 15px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    color: #999;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
  }
  div {
    background: $silver;
    height: 1px;
    width: 40%;
  }
}

.login-option {
  padding-top: 10px;
  margin: 15px 40px 10px 40px;
  text-align: center;
  a {
    &:hover {
      text-decoration: none;
    }
    img {
      width: 16px;
      margin-right: 5px;
    }
  }
}

.forgot-option {
  a {
    font-size: 13px;
  }
}

.google-option {
  a {
    color: $valencia;
  }
}

.mini-header-container {
  position:fixed;
  left: 0px;
  right: 0px;
  z-index:100;
  background-color: $white;
}

.header-wrapper {
  border-bottom: solid 1px $concrete;
  height: 50px;
  position: relative;
  img {
    position: absolute;
    height: 45px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.finishing-signup-container {
  padding-top: 50px;
  display: flex;
  width: 50%;
  height: 804px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.finishing-signup-wrapper {
  overflow: hidden;
  margin: auto;
  h6 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 20px;
    font-weight: 600;
    font-size: 17px;
    color: $dovegrey;
  }
}

.error_explanation {
  ul {
    padding-right: 40px;
  }
}

.edit-profile-wrapper {
  display: flex;
  align-items: center;
  min-height: 800px;
  width: 70%;
  margin: auto;
}

.edit-profile-container {
  overflow: hidden;
}

.form-container-2-col {
  padding: 50px 0px 30px 0px;

}

.form-container-row {
  width: 775px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}


.form-container-left {
  width: 25%;
  text-align: right;
  label {
    width: 100%;
    font-size: 15px;
  }
  margin-left: 40px;
}

.form-container-right {
  width: 65%;
}

.input-field-edit-user {
  margin-left: 0px !important;
  width: 355px;
}

.submit-edit-user {
  margin: 0 auto !important;
  display: block;
  margin-top: 30px !important;
  width: 120px !important;
}

.input-area {
  height: 60px;
}

.checkbox-description {
  display: flex;
  justify-content: space-between;
  width: 90%;
  p {
    margin: 0px 0px 10px 0px !important;
    text-align: left !important;
    width: 90%;
    font-style: italic;
  }
  input[type="checkbox"] {
    border-radius: 3px;
    border: 1px solid $concrete;
    height: 16px;
    width: 16px;
    background-color: #fff;
    &:focus {
      outline: none;
      border: 2px solid $gray78;
    }
  }
}

.input-select {
  margin-bottom: 10px;
  width: 150px;
  padding: 9px 0 7px 8px;
  background: $alabaster;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  border: 1px solid $concrete;
  border-radius: 3px;
  height: 36px;
  line-height: 14px;
  &:focus {
    outline: none;
    border: 2px solid $gray78;
  }
}

#my-notifications{
  .pagination {
    display: none;
  }
}

#page-nav {
  text-align: center;
  .pagination {
    display: none;
  }
}

.single-post-wrapper {
  display: none;
  z-index: 10000;
  position: fixed;
  width: auto;
  height: auto;
  top: calc(50% - 350px);
  left: calc(50% - 500px);
  .nearest-post-wrapper {
    position: fixed;
    overflow: hidden;
    top: 45%;
    font-size: 50px;
    a {
      color: $concrete;
      &:hover {
        color: $gray78;
      }
    }
  }
  .next-post-wrapper {
    left: 80%;
  }
  .prev-post-wrapper {
    left: 18.3%;
  }
}

.suggest-users{
  #my-users{
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 20%;
    background: $white;
    padding: 20px 0 20px;
    &:first-child{
      display:none;
    }
    .unfollow-button {
      background: $alabaster;
      border: solid 1px $alto;
      color: $mineshaft;
      width: 70%;
    }
    .follow-button {
      width: 70%;
    }
    .noti_img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    .user_path{
      text-decoration: none;
      color: $mine-shaft-color;
    }
  }
  overflow-x: scroll;
  white-space:nowrap;
}

.recommend-text{
  color: $gray78;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 16px;
}
#all_noti_text{
  width: 100%;
  text-align: center;
  a {
    text-decoration: none;
    color: $black;
  }
}
.noti_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
