// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$alabaster: #fafafa;
$concrete: #e6e6e6;
$gray78: #b8b8b8;
$white: #fff;
$dovegrey: #666;
$pictonblue: #3897f0;
$silver: #c7c7c7;
$valencia: #d34836;
$mineshaft: #262626;
$dustygray: #999999;

#my-posts {
  padding-top: 60px;
  .post-box {
    width: 48%;
    border: 1px solid $concrete;
    background-color: $white;
    border-radius: 3px;
    margin-bottom: 25px;
    .post-box-header {
      padding: 16px 16px 16px 16px;
      height: 60px;
      border-bottom: solid 1px $concrete;
      img {
        width: 30px;
        margin-right: 20px;
      }
      a {
        line-height: 20px;
        color: $mineshaft;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
      }
    }
    .post-box-image {
      img {
        width: 100%;
      }
    }
    .post-box-interaction {
      padding: 16px 16px 16px 16px;
      img {
        width: 24px;
        margin-right: 20px;
      }
    }
    .post-box-caption {
      padding: 16px 16px 16px 16px;
      display: flex;
      p {
        color: $mineshaft;
        line-height: 20px;
        font-weight: 300;
        font-size: 16px;
      }
      a {
        text-decoration: none;
        margin-left: 10px;
        color: $dustygray;
      }
    }
    .post-box-upload-at {
      padding: 5px 16px 16px 16px;
      color: $dustygray;
      font-size: 13px;
    }
  }
}
