@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors.scss';

#my-posts {
  padding-top: 60px;
  .post-box {
    width: 48%;
    border: 1px solid $concrete;
    background-color: $white;
    border-radius: 3px;
    margin-bottom: 24px;
    .post-box-header {
      padding: 16px;
      height: 60px;
      border-bottom: solid 1px $concrete;
      img {
        width: 30px;
        margin-right: 20px;
        object-fit: cover;
        border-radius: 50%;
      }
      a {
        line-height: 20px;
        color: $mineshaft;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
      }
    }
    .post-box-image {
      img {
        width: 100%;
      }
    }
    .post-box-interaction {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      width: 25%;
      input {
        width: 25px;
        margin-right: 20px;
        border: none;
        height: 25px;
        &:focus {
          outline: none;
        }
      }
    }
    .post-box-count {
      padding: 0px 16px;
      a {
        text-decoration: none;
        color: $mineshaft;
        font-weight: 600;
        font-size: 15px;
      }
    }
    .post-box-caption {
      padding: 16px;
      display: flex;
      border-bottom: 1px solid $concrete;
      p {
        color: $mineshaft;
        line-height: 20px;
        font-weight: 300;
        font-size: 16px;
      }
      a {
        text-decoration: none;
        margin-left: 10px;
        color: $dustygray;
      }
    }
    .post-box-comment {
      padding: 16px;
      .load-more-comm-wrapper {
        padding-bottom: 10px;
        padding-left: 5px;
        a {
          text-decoration: none;
          color: $dustygray;
        }
      }
      .comments_wrapper {
        display: flex;
        justify-content: space-between;
        .comment-text {
          display: flex;
          width: 95%;
          p {
            font-size: 15px;
            line-height: 20px;
            a {
              color: $mineshaft;
              text-decoration: none;
              font-weight: 600;
            }
            .comment_hashtag{
              text-decoration: none;
              margin-left: 10px;
              color: $dustygray;
              font-weight: normal;
            }
          }
        }
        .comment-button {
          .glyphicon-remove {
            color: $silver;
            &:hover {
              color: $mineshaft;
            }
          }
        }
      }
    }
    .post-box-add-comment {
      .comment-box {
        margin: 0px 16px ;
        border-top:solid 1px $concrete;
        padding: 15px 0px;
        font-size: 12px;
        color: $dustygray;
        overflow: hidden;
        white-space: nowrap;
        &:focus {
          outline: none;
          font-size: 14px;
          color: $mineshaft;
          text-overflow: inherit;
        }
      }
      .comment-box br {
          display: none;
        }
      .comment-box * {
          display: inline;
          white-space: nowrap;
      }
    }
    .post-box-upload-at {
      padding: 5px 16px 16px 16px;
      color: $dustygray;
      font-size: 11px;
    }
  }
}
