@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors.scss';

#my-posts {
  padding-top: 60px;
  .post-box {
    width: 48%;
    border: 1px solid $concrete;
    background-color: $white;
    border-radius: 3px;
    margin-bottom: 24px;
    .post-box-header {
      padding: 16px;
      height: 60px;
      border-bottom: solid 1px $concrete;
      img {
        width: 30px;
        margin-right: 20px;
        object-fit: cover;
        border-radius: 50%;
      }
      a {
        line-height: 20px;
        color: $mineshaft;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
      }
    }
    .post-box-image {
      img {
        width: 100%;
      }
    }
    .post-box-interaction {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      width: 25%;
      img {
        width: 24px;
        margin-right: 20px;
      }
      .like-button {
        width: 25.5px;
        margin-right: 20px;
        border: none;
      }
    }
    .post-box-count {
      padding: 0px 16px;
      a {
        text-decoration: none;
        color: $mineshaft;
        font-weight: 600;
        font-size: 15px;
      }
    }
    .post-box-caption {
      padding: 16px;
      display: flex;
      p {
        color: $mineshaft;
        line-height: 20px;
        font-weight: 300;
        font-size: 16px;
      }
      a {
        text-decoration: none;
        margin-left: 10px;
        color: $dustygray;
      }
    }
    .post-box-upload-at {
      padding: 5px 16px 16px 16px;
      color: $dustygray;
      font-size: 13px;
    }
  }
}
